<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>404</title>
  </head>
  <body>
    <div id="app">
      404
    </div>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init()</script>
    <!-- <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script>
      let appid = '<%= appId %>'
      if (location.href.indexOf('code') == -1) {
        window.APPID = '<%= appId %>'
        var local = location.href
        localStorage.setItem('url',local) // http://40724997.ngrok.io/search
        // snsapi_userinfo 主动授权  首次登陆授权，保存相关用户信息 userinfo、openid、appid，下次进入同一个公众号都不用授权了
        // snsapi_base 静默授权  进入其他公众号，也是用康合的appid获取openid,再用这个openid支付。
        // 所以其他公众号干嘛要配 https://testyanxuan.kanghehealth.com/#/mall/ORG0000000000001?appid=wxb6d7a20c78ab3b34
        window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + window.APPID + '&redirect_uri=' + encodeURIComponent(local) + '&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect'
      }
      console.log(location.href) // code作为换取access_token的票据，得到code后，多公众号的话可以把当前appid也传给后端，向后端ajax获取openId
      var urlParams = location.href.replace(/.*?\?/, '').split('&').map(v => v.split('=')).reduce((o, [k, v]) => (o[k] = v, o), {})
      alert(3)
      $.ajax({
        type: 'GET',
        url: location.origin + '/getOpenid?appid=' + appid + '&code=' + urlParams.code,
        //data: { appid: window.APPID,code: urlParams.code },
        dataType: 'json',
        success: function (data) {
          console.log(data)
        }
      });

      $.ajax({
        type: 'GET',
        url: location.origin + '/getUserInfo?appid=' + appid + '&code=' + urlParams.code,
        dataType: 'json',
        success: function (data) {
          console.log(data)
        }
      });
      
      wx.config({
          debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
          appId: '<%= appId %>', // 必填，公众号的唯一标识
          timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
          nonceStr: '<%= noncestr %>', // 必填，生成签名的随机串
          signature: '<%= signature %>', // 必填，签名
          jsApiList: [
              'chooseWXPay',
              'checkJsApi',
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
              'updateAppMessageShareData',
              'updateTimelineShareData',
              'onMenuShareQQ',
              'onMenuShareWeibo',
              'onMenuShareQZone',
              'hideMenuItems',
              'showMenuItems',
              'hideAllNonBaseMenuItem',
              'showAllNonBaseMenuItem',
              'previewImage',
              'getLocation',
              'startRecord',
              'stopRecord',
              'translateVoice'
          ] // 必填，需要使用的JS接口列表
      });
      // https://api.douban.com/v2/group/${groupid}/topics?start=0&count=10
      // https://api.douban.com/v2/group/topic/${groupid}/comments?start=0&count=10
      wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.checkJsApi({
          jsApiList: [
              'chooseWXPay',
              'checkJsApi',
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
              'updateAppMessageShareData',
              'updateTimelineShareData',
              'onMenuShareQQ',
              'onMenuShareWeibo',
              'onMenuShareQZone',
              'hideMenuItems',
              'showMenuItems',
              'hideAllNonBaseMenuItem',
              'showAllNonBaseMenuItem',
              'previewImage',
              'getLocation',
              'startRecord',
              'stopRecord',
              'translateVoice'
          ], // 需要检测的JS接口列表，所有JS接口列表见附录2,
          success: function(res) {
            console.log(res)
          }
        });


      });
      wx.error(function(res){
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
      });
    </script>
  </body>
</html>
